@import '~bootstrap/scss/bootstrap';
@import '/resources/scss/partials/_header.scss';
@import '/resources/scss/partials/_variables.scss';
@import '/resources/scss/partials/payment';


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}


.btn-primary {
  background-color: $primary;
  color: $black;
  border-color: $primary;
  &:hover {
    background-color: $primary-hover !important;
}
}

.btn-outline-primary {
  border-color: $primary;
  background-color: $primary;
  color: $black;
  &:hover {
    border-color: $primary !important;
    background-color: $primary-hover !important;
}
}

.text-bg-primary {
  background-color: $primary !important;
  color: $black !important;
}

.active {
  display: block;
  color: green;
}

.inactive {
  display: block;
  color: red;
}