@import '~bootstrap/scss/bootstrap';
@import '/resources/scss/partials/_header.scss';
@import '/resources/scss/partials/_variables.scss';


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $primary;
  }


  .btn-primary {
    background-color: $primary;
    color: $black;
    border-color: $primary;
  }
