@media screen and (max-width:768px) {
    .start {
        display: none;
    }



    .data-start {
        display: none;
    }

    .address,
    .end,
    .status {
        font-size: 14px;
    }


}


// @media screen and (max-width: 992px) {
//     .active {
//         margin-top: 11px;
//     }

//     .inactive {
//         margin-top: 11px;
//     }
// }


// @media screen and (max-width : 488px) {
//     .active {
//         margin-top: 11px !important;
//     }

//     .inactive {
//         margin-top: 11px !important;
//     }
// }