@media screen and (max-width:768px) {
    .start {
        display: none;
    }

    .end {
        display: none;
    }

    .data-start {
        display: none;
    }

    .data-end {
        display: none;
    }


}