.main {
    min-height: calc(100vh - 231px);
}

.footer {
    min-height: 75px;
    background-color: white;
    border-top: 2px solid #38b981;
    margin-top: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.status {
    padding: 0px 10px;
}

.footer {
    .list-creator {
        display: flex !important;
    }

    .name-creator:hover {
        color: $primary-hover;
    }

}

@media (min-width: 768px) {
    .footer {
        font-size : 18px;
    }
}