.footer {
    min-height: 175px;
    background-color: #38b981;
    padding: 25px;
    margin-top: 50px;
}



.made-by {
    font-weight: bold;
}

.status {
    padding: 0px 10px;
}

.footer:hover {
    .list-creator {
        display: block !important;
        display: flex !important;

        .name-creator {
            font-weight: bold;
        }
    }

    .name-creator:hover {
        color: white;
    }

}