@import '/resources/scss/partials/_variables.scss';

.nav-item {
    a {
        color: black;
        display: block;
        padding: 10px 50px;
        transition: 200ms all;
        &:hover {
            background-color: $primary-hover;
            border-radius: 25px;
        }
    }
  }

  .navbar {
    background-color: $background-nav;
  }