@import '/resources/scss/partials/_variables.scss';

.nav-item {
    a {
        color: black;
        display: block;
        padding: 10px 50px;
        transition: 200ms all;
        &:hover {
            background-color: $primary-hover;
            border-radius: 25px;
        }
    }
  }

  .navbar {
    background-color: $background-nav;
  }

  .user-name {
    display: none;
  }

  .dropdown-menu[data-bs-popper] {
    left: -100px;
  }

  .user-logo-a {
    color: white !important;
  }

  @media (min-width: 768px) {
    .user-logo:before {
      display:none;
    }

    .dropdown-menu[data-bs-popper] {
      left: 50px;
    }

    .user-name {
      display: inline;
    }
  }